a,
abbr,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
code,
details,
div,
em,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
img,
label,
li,
mark,
menu,
nav,
ol,
output,
p,
pre,
q,
s,
section,
small,
span,
strong,
summary,
time,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1;
  display: block
}

* {
  margin: 0;
  padding: 0
}

html {
  display: block
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}

.main-content-wrapper {
  overflow: auto;
  background: #fff;
  position: relative;
  z-index: 300
}

.feed-links,
.post-feeds {
  display: none
}

.section,
.widget {
  margin: 0;
  padding: 0
}

b,
strong {
  font-weight: 700
}

em,
i {
  font-style: italic
}

a:link {
  color: #3c0;
  text-decoration: none;
  outline: 0;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s
}

a:visited {
  color: #3c0;
  text-decoration: none
}

a:hover {
  color: #7614cc;
  text-decoration: none
}

a img {
  border: none;
  border-width: 0;
  outline: 0
}

small {
  font-size: 86%
}

mark {
  background-color: #ffce00;
  color: #000
}

blockquote,
figure,
form,
ol,
p,
pre,
ul {
  margin: 1.5em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: normal;
  margin: 0 0 .6em
}

h1 {
  font-size: 200%
}

h2 {
  font-size: 180%
}

h3 {
  font-size: 160%
}

h4 {
  font-size: 140%
}

h5 {
  font-size: 120%
}

h6 {
  font-size: 100%
}

ol {
  list-style: decimal outside;
  margin-left: 3em
}

ul {
  list-style: disc outside
}

li {
  margin: .5em 0
}

button,
input,
select {
  font: inherit;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline
}

code,
pre {
  font-family: "Courier New", Courier, Monospace;
  color: inherit
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto
}

.post-body blockquote {
  background: url(//lh6.googleusercontent.com/-6UyQr7E0nTU/UVRWwhvPScI/AAAAAAAAFUU/15cIvW74xwg/s50/quote.png) no-repeat scroll left 18px transparent;
  font-family: Monaco, Georgia;
  font-size: 100%;
  font-style: italic;
  line-height: 22px;
  margin: 20px 0 30px 20px;
  min-height: 60px;
  padding: 0 0 0 60px
}

.post-body img {
  max-width: 97%;
  height: auto
}

img {
  max-width: 100%;
  height: auto;
  border: 0
}

.clear {
  clear: both
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

body {
  background: #fff none repeat scroll top left;
  margin: 0;
  padding: 0;
  color: #333;
  font: normal normal 13px Arial, sans-serif;
  text-align: left
}

#outer-wrapper {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(80, 80, 80, .1);
  overflow: hidden
}

.top-menu {
  position: relative;
  font: normal normal 12px Arial, sans-serif;
  margin: 0 auto;
  height: 85px;
  overflow: hidden;
  padding: 0 28px
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3000;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.menubar li {
  display: block;
  float: left;
  line-height: 38px;
  margin: 0;
  padding: 0
}

.menubar li a {
  color: #e0e0e0;
  display: block;
  padding: 0 12px;
  color: #fff;
  font-size: 15px;
  line-height: 1.7em;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  margin: 20px 35px 27px 0;
  border: none;
  text-shadow: none;
  position: relative;
  padding: 0
}

.menubar li a:hover {
  color: #0088c2
}

#header-wrapper {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 28px;
  background: #000;
  z-index: 300;
  display: none;
  position: relative
}

.header {
  float: left;
  max-width: 257px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300
}

.header h1.title,
.header p.title {
  font: normal bold 24px Fjalla One, Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: uppercase
}

.header .description {
  color: #555
}

.header a {
  color: #333
}

.header a:hover {
  color: #999
}

.header img {
  display: block
}

.header-right {
  float: right;
  padding: 0;
  overflow: hidden;
  margin: 55px 0;
  width: 41.8%;
  max-width: 468px
}

.header-right img {
  display: block
}

#nav {
  font: normal 12px Arial, sans-serif;
  height: 85px;
  line-height: 85px;
  padding: 0 28px;
  background: #646464
}

.menubar2 {
  list-style: none;
  margin: 0;
  float: left
}

.menubar2:after,
.menubar2:before {
  content: " ";
  display: table
}

.menubar2:after {
  clear: both
}

.menubar2 ul {
  list-style: none;
  margin: 0;
  width: 12em
}

.menubar2 a {
  display: block;
  padding: 0 40px 0 0
}

.menubar2 li {
  position: relative;
  margin: 0 0;
  padding: 0 1px 0 0
}

.menubar2>li {
  float: left
}

.menubar2>li>a {
  display: block;
  height: 84px;
  line-height: 84px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Slab", serif
}

.menubar2 li ul {
  background: #444 repeat;
  border-bottom: 4px solid #0088c2;
  display: block;
  position: absolute;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out
}

.menubar2 li li ul {
  left: 100%;
  top: -1px
}

.menubar2 li li a {
  display: block;
  color: #e0dfdf;
  font-family: "Droid Sans", sans-serif;
  text-shadow: 0 1px 1px #4b4b4b;
  position: relative;
  z-index: 100;
  line-height: 32px;
  border-bottom: 1px solid #212223;
  margin-left: 10px
}

.menubar2 li li a:hover {
  color: #fff
}

.menubar2 li li li a {
  color: #e0dfdf;
  font-family: "Droid Sans", sans-serif;
  text-shadow: 0 1px 1px #4b4b4b;
  z-index: 20
}

i.fa.fa-home {
  color: #646464
}

#content-wrapper {
  background-color: transparent;
  margin: 0 auto;
  word-wrap: break-word;
  width: 1170px;
  z-index: 300;
  position: relative
}

#post-wrapper {
  background: #fff;
  position: relative;
  z-index: 300;
  padding-top: 20px
}

.post-container {
  padding: 15px 0 0 0
}

.breadcrumbs {
  border-bottom: 1px solid #ddd;
  border-radius: 2px 2px 2px 2px;
  border-top: 1px solid #ddd;
  font-size: 90%;
  height: 16px;
  margin-bottom: 10px;
  margin-top: 1px;
  overflow: hidden;
  padding: 5px
}

.breadcrumbs>span {
  background: url(//i.imgur.com/yb6okXn.png) no-repeat scroll right center transparent;
  padding: 10px 25px 10px 10px
}

.post {
  background: #fff;
  padding: 12px 0
}

.post-body {
  color: #777;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 1.86em;
  font-weight: 400
}

h1.post-title,
h2.post-title {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 1.52em;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  margin-top: -8px
}

h1.post-title,
h1.post-title a,
h2.post-title,
h2.post-title a {
  color: #000
}

h1.post-title a:hover,
h2.post-title a:hover {
  color: #3c0
}

.img-thumbnail {
  background: #fbfbfb url(//i.imgur.com/6Od5pOWs.png) no-repeat center center;
  position: relative;
  float: left;
  width: 375px;
  height: 210px;
  margin: 0 20px 0 0
}

.img-thumbnail img {
  width: 375px;
  height: 210px;
  border-radius: 4px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-backface-visibility: hidden;
  object-fit: cover
}

.img-thumbnail img:hover {
  opacity: .7;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05)
}

span.rollover:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin: -12px;
  top: 50%;
  left: 50%
}

span.rollover:hover {
  opacity: .7;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s
}

.post-info {
  background: 0 0;
  margin: 0 0 12px;
  color: #666;
  font-size: 14px;
  padding: 0 0
}

.post-info a {
  display: inline-block;
  color: #666
}

.comment-info,
.label-info,
.time-info {
  margin-right: 10px;
  display: inline
}

.pagenavi {
  clear: both;
  margin: -5px 0 10px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase
}

.pagenavi a,
.pagenavi span {
  margin-right: 3px;
  display: inline-block;
  background-color: #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 11px 14px;
  margin: 15px 3px 50px 0
}

.pagenavi .current,
.pagenavi .pages,
.pagenavi a:hover {
  background: #646464;
  color: #fff
}

.pagenavi .pages {
  display: none
}

.recent-post-title {
  background: url(//i.imgur.com/uEGQk09.png);
  margin: 0 0 15px;
  padding: 0;
  position: relative
}

div.recent-post-title:after {
  content: no-close-quote;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -6px;
  left: 22px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0088c2
}

.recent-post-title h2 {
  font: normal bold 14px Arial, sans-serif;
  height: 26px;
  line-height: 26px;
  margin: 0 0;
  padding: 0 10px;
  background: #0088c2;
  color: #fff;
  display: inline-block
}

.recent-post-title h2 a {
  color: #fff
}

.author-wrapper {
  background: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  margin-top: 24px;
  z-index: 0
}

article.author-wrapper {
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, .03);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, .03);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.author-wrapper .title h3 {
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: 400;
  line-height: 145% !important;
  color: #212121
}

article .media {
  margin: 25px 0
}

.media {
  overflow: hidden;
  zoom: 1
}

.about_img img {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left
}

.media p {
  margin: 0 0 10px
}

.post-footer {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 30px 0 0;
  padding: 15px 0;
  border-top: 1px solid #efefef
}

.social span a:hover {
  color: #646464;
  border: 1px solid #646464
}

.social {
  float: right !important;
  text-align: right
}

.social span a {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 0 0 0 5px;
  width: 35px;
  color: #a7a5a5;
  height: 35px;
  line-height: 35px !important;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 1px solid #a7a5a5;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#footer-wrapper {
  background: none repeat scroll 0 0 #2d2d2d;
  border-top: 1px solid #ddd;
  color: #444;
  font: 11px Verdana, Geneva, sans-serif;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 300
}

#footer3 li a:hover {
  background: #646464
}

#footer3 li {
  margin: 5px 0;
  padding: 0;
  list-style: none
}

#footer3 li a {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 11px !important;
  line-height: 12px;
  margin: 0 2px 2px 0;
  padding: 12px 18px;
  border: 1px solid #222
}

::-moz-selection {
  background: none repeat scroll 0 0 #cd2122;
  color: #fff;
  text-shadow: none
}

.flickr_badge_image {
  float: left;
  height: 55px;
  margin: 5px;
  width: 55px
}

.flickr_badge_image a {
  display: block
}

.flickr_badge_image a img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear
}

#footer-wrapper .widget h2 {
  background-position: 0 50%;
  background-repeat: repeat-x;
  border-bottom: 2px solid #fff;
  font: 600 20px"Open Sans", serif, sans-serif;
  margin: 0 0 3px;
  overflow: hidden;
  padding: 5px 0;
  text-transform: uppercase
}

#footer-wrapper .widget h2 span {
  border-bottom: 2px solid #646464;
  color: #fafbfb;
  font-family: sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  position: absolute
}

#footer .widget-area {
  padding: 0 0 15px;
  margin: 0 0 15px
}

#footer div.column {
  display: inline;
  float: left;
  padding: 2px
}

#footer .column .widget {
  width: 97%;
  padding: 5px;
  float: left;
  line-height: 1.7;
  overflow: hidden;
  margin-bottom: 15px
}

#footer .widget-area h2 {
  color: #aaa;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase
}

#footer .widget-content {
  color: #fff;
  text-align: left;
  margin-top: 20px
}

.widget-item-control {
  float: right;
  height: 20px;
  margin-top: -20px;
  position: relative;
  z-index: 10
}

.widget ul {
  line-height: 1.4em
}

.set {
  margin: 0 0
}

.tabs-menu {
  border-bottom: 3px solid #e73138;
  padding: 0 0;
  margin: 0 0
}

.tabs-menu li {
  font: normal bold 12px Arial, sans-serif;
  display: inline-block;
  zoom: 1;
  margin: 0 3px 0 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: none !important;
  color: #333;
  cursor: pointer;
  position: relative
}

.tabs-content {
  padding: 10px 0
}

.tabs-content .widget li {
  float: none !important;
  margin: 5px 0
}

.tabs-content .widget ul {
  overflow: visible
}

.profile-img {
  display: inline;
  opacity: 10;
  margin: 0 6px 3px 0
}

#related-posts {
  width: auto;
  margin-bottom: 40px
}

.related_title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px
}

.related_title:hover {
  font-size: 18px;
  color: #222;
  margin-top: 10px;
  margin-bottom: 5px
}

#related-posts h2 {
  font: normal normal 18px Oswald;
  text-transform: uppercase;
  font-size: 22px;
  color: #585858;
  margin-bottom: 5px;
  margin: 7px 0 33px;
  font-family: "Roboto Slab", serif
}

#related-posts .related_img {
  padding: 0;
  width: 250px;
  height: 140px;
  border-radius: 3%
}

#related-posts .related_img:hover {
  opacity: .7;
  -moz-opacity: .7;
  -khtml-opacity: .7
}

.status-msg-wrap {
  font-size: 120%;
  font-weight: 700;
  width: 100%;
  margin: 10px auto
}

.status-msg-body {
  padding: 5px 2%;
  width: 96%
}

.status-msg-border {
  border: 1px solid #e5e5e5;
  opacity: 10;
  width: auto
}

.status-msg-bg {
  background-color: #fff
}

.status-msg-hidden {
  padding: 20px 2%
}

.fb-comments {
  width: 100% !important
}

.fb-comments span {
  width: 100% !important
}

.share-post {
  font-size: 13px;
  margin-top: 15px
}

.share-post li {
  float: left
}

.share-post a {
  display: block;
  margin-right: 10px;
  text-indent: -9999px;
  margin-left: 12px;
  background: url(//i.imgur.com/0k4uvwW.png) no-repeat;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s
}

.share-post a:hover {
  opacity: .7
}

.share-post .facebook a {
  width: 7px
}

.share-post .twitter a {
  width: 18px;
  background-position: -47px 0
}

.share-post .google a {
  width: 14px;
  background-position: -105px 0
}

.share-post .pinterest a {
  width: 11px;
  background-position: -159px 1px
}

#share-post {
  width: 100%;
  overflow: hidden;
  margin-top: 20px
}

#share-post a {
  display: block;
  height: 32px;
  line-height: 43px;
  color: #fff;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 10px 10px 0;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  width: 125px;
  height: 45px;
  float: left;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-weight: 600
}

#share-post .facebook {
  background-color: #6788ce
}

#share-post .twitter {
  background-color: #29c5f6
}

#share-post .google {
  background-color: #e75c3c
}

#share-post span {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  padding: 6px;
  background: url(//i.imgur.com/0k4uvwW.png) no-repeat;
  background-position-y: 6px;
  background-position-x: 7px
}

#share-post .facebook span {
  background-color: #3967c6
}

#share-post .twitter span {
  background-color: #26b5f2;
  background-position: -65px
}

#share-post .google span {
  background-color: #e94d36;
  background-position: -137px
}

input[type=submit] {
  padding: 4px 17px;
  color: #585858;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  background: url(gradient.png) bottom repeat-x;
  cursor: pointer;
  margin-top: 10px;
  overflow: visible;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear
}

.selectnav {
  display: none
}

.flickr_badge_image {
  float: left;
  height: 80px;
  margin: 10px 5px 0 5px;
  width: 80px
}

.flickr_badge_image a {
  display: block
}

.flickr_badge_image a img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear
}

.flickr_badge_image a img:hover {
  opacity: .5
}

.top-menu-container {
  width: 1170px;
  margin: 0 auto
}

.author-info {
  color: #646464;
  margin-right: 10px
}

a.timestamp-link {
  color: #646464
}

span.comment-info a {
  color: #aaa
}

span.comment-info l,
span.time-info l {
  background: url(//i.imgur.com/lytgn6K.png) no-repeat center left;
  padding-left: 8px;
  margin-right: 6px;
  margin-left: -5px
}

div#top-comment {
  margin-top: 20px
}

.top-comment-widget-menu {
  float: left;
  margin: -15px 0 15px;
  padding: 0;
  width: 100%;
  height: 40px
}

.top-comment {
  float: left;
  font-size: 14px;
  list-style: none outside none;
  text-transform: uppercase;
  width: 43%;
  margin: 1px;
  padding: 10px 20px !important;
  font-weight: 400;
  color: #646464;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.top-comment.selected {
  cursor: pointer;
  padding: 11px 20px !important;
  margin: 0 0 0 -16px;
  color: #fff;
  background: #646464;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

h1,
h2,
h3 {
  font-family: Oswald, sans-serif
}

.headtitle h1 {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  position: relative;
  z-index: 150;
  margin: 0 0 0 45px
}

h1.small {
  font-size: 90px;
  text-transform: uppercase
}

span.squash {
  display: inline-block;
  transform: scaleY(.3);
  -webkit-transform: scaleY(.3);
  -moz-transform: scaleY(.3);
  -ms-transform: scaleY(.3);
  -o-transform: scaleY(.3)
}

.headtitle h2 {
  font-size: 60px;
  font-weight: 700;
  color: #434343;
  text-transform: uppercase;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 80px
}

h1,
h2,
h3 {
  color: #434343
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #515151
}

ul.slimmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
  position: relative;
  text-align: center
}

ul.slimmenu li {
  position: relative;
  display: inline-block;
  background-color: #fff
}

ul.slimmenu>li {
  margin-right: -5px;
  border-left: 1px solid #e6e6e6
}

ul.slimmenu>li:first-child {
  border-left: 0
}

ul.slimmenu>li:last-child {
  margin-right: 0
}

ul.slimmenu li a {
  display: block;
  color: #646464;
  padding: 12px 30px 12px 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out
}

ul.slimmenu li a:hover {
  background-color: #999;
  text-decoration: none;
  color: #fff
}

ul.slimmenu li ul {
  margin: 0;
  list-style-type: none
}

ul.slimmenu li ul li {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2)
}

ul.slimmenu li>ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  width: 100%
}

ul.slimmenu li>ul>li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2)
}

.follow-by-email-inner:before {
  content: "Join with Thousands Of Subscribers ! Get Our Latest Articles Delivered to Your email Inbox";
  font-family: nunito;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1px
}

#footer1 {
  line-height: 30px;
  padding: 25px 0 70px 0;
  background-color: #252525;
  position: relative;
  z-index: 300
}

#footer1 p {
  font-size: 12px;
  float: left;
  line-height: 30px;
  text-align: justify
}

#footer1 .go-top {
  float: right;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, .1)
}

#footer1 .go-top a {
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  background-color: #646464;
  transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out
}

#footer1 .go-top a:hover {
  background-color: #444
}

#footer1 .go-top a i {
  line-height: 30px
}

#footer1 .social-icons {
  text-align: center;
  float: right
}

#footer1 .social-icons a {
  display: inline-block;
  color: #ccc;
  font-size: 14px;
  border-radius: 2px;
  margin-left: 15px
}

#footer1 .social-icons a:hover {
  color: #646464
}

.thumbnail {
  position: relative;
  display: block;
  padding: 0;
  line-height: 20px;
  border: 0 solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .055);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .055);
  box-shadow: 0 0 0 rgba(0, 0, 0, .055);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

a.image-wrap {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle
}

input {
  width: 206px
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus {
  border-color: rgba(82, 168, 236, .8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6)
}

input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  line-height: normal
}

input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=reset],
input[type=submit] {
  width: auto
}

input[type=file],
select {
  height: 30px;
  line-height: 30px
}

select {
  width: 220px;
  border: 1px solid #ccc;
  background-color: #fff
}

select[multiple],
select[size] {
  height: auto
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.post_social_share {
  display: block;
  padding: 25px 0 50px;
  text-align: center;
  margin-bottom: 30px
}

.post_social_share h3 {
  display: block;
  font-size: 14px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 2px
}

.post_social_share a {
  width: 32px;
  font-size: 20px;
  padding: 10px;
  margin: 0 10px;
  display: inline-block
}

.post_social_share a:hover {
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  transition: border-color .2s
}

.post_social_share a {
  border: 1px solid rgba(0, 0, 0, .1)
}

.post_social_share a:hover {
  border-color: #646464;
  color: #646464
}

@font-face {
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
  src: url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff) format("woff2");
  font-display: swap
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format("woff2");
  font-display: fallback
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-style: normal;
  src: url(//fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format("woff2");
  font-display: swap
}

.disable,
.status-msg-hidden {
  display: none !important
}

.calendly-badge-widget {
  left: 20px
}

.mobile-index-title {
  font-size: 80%
}

pre {
  font-family: Andale Mono, Lucida Console, Monaco, fixed, monospace;
  color: #000
}

code {
  color: #000;
  word-wrap: normal
}

.container {
  width: 940px
}

.container:after,
.container:before {
  display: table;
  content: "";
  line-height: 0
}

@media (min-width:1200px) {
  .container {
    width: 1117px
  }
}

.container {
  margin-right: auto;
  margin-left: auto
}

@media (max-width:979px) and (min-width:768px) {
  .container {
    width: 724px
  }
}

@media (max-width:979px) and (min-width:768px) {
  .container {
    width: auto
  }

  #footer div.column {
    width: 48%;
    margin-right: 2px
  }
}

@media (max-width:767px) {
  .container {
    width: auto
  }

  #footer div.column {
    width: 100%
  }
}

#intro {
  text-align: center
}

#intro,
#intro .bg1 {
  z-index: 100;
  width: 100%;
  height: 380px
}

#intro .bg1 {
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: absolute
}

@media only screen and (max-width:320px) {
  #intro .bg1 {
    background: url(//i.imgur.com/7XiaxdE.jpg) 0 0 fixed
  }
}

@media only screen and (min-width:321px) {
  #intro .bg1 {
    background: url(//i.imgur.com/kb77n0L.jpg) 0 0 fixed
  }
}

@media only screen and (min-width:1200px) {
  #intro .bg1 {
    background: url(//i.imgur.com/AGhP2B2.jpg) 0 0 fixed
  }
}

@media only screen and (min-width:1440px) {
  #intro .bg1 {
    background: url(//i.imgur.com/u8LDzop.jpg) 0 0 fixed
  }
}

.headtitle {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 150;
  padding-top: 20px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.intro-line {
  border-top: 1px solid #ededed;
  width: 670px;
  margin: 0 auto
}

.headtitle p,
.intro-line {
  position: relative;
  z-index: 150
}

.headtitle p {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-top: 20px
}

.social-intro {
  margin-top: 45px;
  position: relative;
  z-index: 150
}

.social-intro ul {
  text-align: center
}

.social-intro ul li {
  display: inline;
  margin: 0 5px
}

.social-intro a {
  opacity: .7
}

.social-intro a:hover {
  opacity: 1
}

.social-intro ul li a img {
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff
}

.paypal-tipjar a img {
  height: 160px
}

@media only screen and (max-width:1024px) {
  .title {
    position: relative
  }

  #intro {
    height: 85px
  }

  .headtitle {
    padding-top: 20px
  }

  .headtitle h1 {
    font-size: 90px
  }

  h1 {
    font-size: 100px;
    margin-bottom: 60px
  }

  h1.small {
    font-size: 65px;
    margin-bottom: 20px
  }
}

@media only screen and (min-width:480px)and (max-width:767px) {
  .headtitle h1 {
    font-size: 70px;
    margin-bottom: 20px
  }

  h1.small {
    font-size: 40px;
    margin-bottom: 20px
  }

  .headtitle p {
    font-size: 20px;
    line-height: 28px
  }
}

@media only screen and (max-width:479px) {
  #intro {
    height: 300px
  }

  .title {
    position: relative;
    padding-top: 20px
  }

  .intro-line {
    display: none
  }

  .headtitle {
    -webkit-text-stroke-color: inherit;
    text-shadow: inherit
  }

  .headtitle h1 {
    font-size: 60px;
    margin-bottom: 15px
  }

  h1.small {
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: -5px
  }

  .headtitle p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0
  }

  .social-intro {
    margin-top: 10px
  }
}

input[type=submit] {
  padding: 4px 17px;
  color: #585858;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  background: url(gradient.png) bottom repeat-x;
  cursor: pointer;
  margin-top: 10px;
  overflow: visible;
  transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear
}

.searchPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity .3s ease, z-index .3s ease;
  -moz-transition: opacity .3s ease, z-index .3s ease;
  -o-transition: opacity .3s ease, z-index .3s ease;
  transition: opacity .3s ease, z-index .3s ease;
  background: rgba(255, 255, 255, .9)
}

.searchPopup.show {
  opacity: 1;
  z-index: 999999
}

.searchPopup .wrapper {
  position: relative;
  height: 100%
}

.searchPopup form {
  position: absolute;
  left: 0;
  top: 50%;
  height: 140px;
  margin-top: -70px
}

.searchPopup form input[type=text] {
  width: 100%;
  height: 154px !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  color: #2a2a2a;
  font-size: 120px
}

.searchPopup form input[type=text]::-moz-placeholder {
  opacity: 1;
  color: #7f7f7f
}

.searchPopup form input[type=text]:-ms-input-placeholder {
  color: #7f7f7f
}

.searchPopup form input[type=text]::-webkit-input-placeholder {
  color: #7f7f7f
}

.searchPopup .wrapper {
  margin: 0 auto;
  width: 1100px;
  text-align: left;
  position: relative
}

.closeBtn {
  position: absolute;
  top: 59px;
  right: 59px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  z-index: 2
}

span.closeBtn:before {
  display: inline-block;
  font: normal normal normal 30px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00d";
  font-size: 35px;
  color: #7f7f7f
}

nav {
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2)
}

@media only screen and (max-width:767px) {
  #navigation {
    display: none;
    background: none repeat scroll 0 0 #333;
    border: 1px solid #232323;
    color: #fff;
    margin: 27px 0 0 0;
    padding: 5px;
    width: 430px;
    position: absolute
  }

  .selectnav {
    display: block;
    margin: 0 10px;
    padding: 7px;
    width: 90%;
    height: 40px;
    border: none
  }
}

@media only screen and (max-width:479px) {
  #navigation {
    width: 275px
  }
}

@media only screen and (max-width:1219px) {
  #outer-wrapper {
    width: 100%
  }

  .top-menu-container {
    width: 924px
  }

  #content-wrapper {
    width: 1020px
  }

  #post-wrapper,
  div#mywrapper {
    width: 650px
  }

  div#main {
    width: 659px
  }

  .post {
    margin-left: 5px
  }

  h1.post-title,
  h2.post-title {
    font-size: 19px
  }
}

@media only screen and (max-width:985px) and (min-width:768px) {
  #outer-wrapper {
    width: 100%
  }

  .top-menu-container {
    width: 700px
  }

  #content-wrapper {
    width: 710px
  }

  #post-wrapper,
  div#mywrapper {
    width: 710px
  }

  div#main {
    width: 710px
  }

  #post-wrapper {
    margin-top: 44px
  }
}

@media only screen and (max-width:767px) and (min-width:480px) {
  #outer-wrapper {
    width: 100%
  }

  .header-right {
    width: 100%;
    max-width: 432px;
    float: none
  }

  .top-menu-container {
    width: 430px
  }

  #content-wrapper {
    width: 430px
  }

  #post-wrapper,
  div#mywrapper {
    width: 430px
  }

  div#main {
    width: 430px
  }

  #menu-main {
    display: none
  }

  .header {
    max-width: 257px
  }

  .img-thumbnail img {
    width: 430px;
    height: 230px
  }

  .img-thumbnail {
    width: 430px;
    height: 240px
  }

  .top-comment-widget-menu {
    height: 58px
  }

  .top-comment {
    width: 41%
  }

  #mywrapper {
    margin-top: 22px
  }

  .menubar {
    display: none
  }
}

@media only screen and (max-width:479px) {
  #outer-wrapper {
    width: 100%
  }

  .header-right {
    display: none
  }

  .top-menu-container {
    width: 320px
  }

  #content-wrapper {
    width: 300px;
    padding: 0 22px 0
  }

  #post-wrapper,
  div#mywrapper {
    width: 100%
  }

  div#main {
    width: 100%
  }

  #menu-main {
    display: none
  }

  .header {
    max-width: 257px
  }

  .img-thumbnail img {
    width: 280px;
    height: 180px
  }

  .img-thumbnail {
    width: 280px;
    height: 190px
  }

  .top-comment-widget-menu {
    height: 58px
  }

  .top-comment {
    width: 37%
  }

  #intro,
  #intro .bg1 {
    height: 300px
  }

  .main-content-wrapper {
    margin-top: -20px
  }

  .menubar {
    display: none
  }
}