.comment-form {
  overflow: hidden
}

.comments h3 {
  line-height: normal;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-size: 14px;
  padding: 0
}

.comments {
  clear: both;
  margin-top: 10px;
  margin-bottom: 0
}

.comments .comments-content {
  font-size: 13px;
  margin-bottom: 8px
}

.comments .comments-content .comment-thread ol {
  text-align: left;
  margin: 13px 0;
  padding: 0
}

.comments .avatar-image-container {
  background: #fff;
  overflow: hidden;
  padding: 6px;
  float: left
}

.comments .comment-block {
  position: relative;
  background: #fff;
  padding: 15px;
  margin-left: 60px;
  border-left: 3px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd
}

.comments .comment-block:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 14px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  display: block
}

.comments .comments-content .comment-replies {
  margin: 8px 0;
  margin-left: 60px
}

.comments .comments-content .comment-thread:empty {
  display: none
}

.comments .comment-replybox-single {
  background: #f0f0f0;
  padding: 0;
  margin: 8px 0;
  margin-left: 60px
}

.comments .comment-replybox-thread {
  background: #f0f0f0;
  margin: 8px 0 0 0;
  padding: 0
}

.comments .comments-content .comment {
  margin-bottom: 6px;
  padding: 0
}

.comments .comments-content .comment:first-child {
  padding: 0;
  margin: 0
}

.comments .comments-content .comment:last-child {
  padding: 0;
  margin: 0
}

.comments .comment-thread.inline-thread .comment,
.comments .comment-thread.inline-thread .comment:last-child {
  margin: 0 0 5px 30%
}

.comment .comment-thread.inline-thread .comment:nth-child(6) {
  margin: 0 0 5px 25%
}

.comment .comment-thread.inline-thread .comment:nth-child(5) {
  margin: 0 0 5px 20%
}

.comment .comment-thread.inline-thread .comment:nth-child(4) {
  margin: 0 0 5px 15%
}

.comment .comment-thread.inline-thread .comment:nth-child(3) {
  margin: 0 0 5px 10%
}

.comment .comment-thread.inline-thread .comment:nth-child(2) {
  margin: 0 0 5px 5%
}

.comment .comment-thread.inline-thread .comment:nth-child(1) {
  margin: 0 0 5px 0
}

.comments .comments-content .comment-thread {
  margin: 0;
  padding: 0
}

.comments .comments-content .inline-thread {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0
}

.comments .comments-content .icon.blog-author {
  display: inline
}

.comments .comments-content .icon.blog-author:after {
  content: "Admin";
  background: #0088c2;
  color: #fff;
  font-size: 11px;
  padding: 2px 5px
}

.comment-header {
  text-transform: uppercase;
  font-size: 12px
}

.comments .comments-content .datetime {
  margin-left: 6px
}

.comments .comments-content .datetime a {
  color: #888
}

.comments .comment .comment-actions a {
  display: inline-block;
  color: #333;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  margin: 4px 8px 0 0
}

.comments .continue a {
  color: #333;
  display: inline-block;
  font-size: 10px
}

.comments .comment .comment-actions a:hover,
.comments .continue a:hover {
  text-decoration: underline
}

.pesan-komentar p {
  line-height: normal;
  margin: 0 0
}

.fb-comments {
  width: 100% !important
}

.fb-comments iframe[style] {
  width: 100% !important
}

.fb-like-box {
  width: 100% !important
}

.fb-like-box iframe[style] {
  width: 100% !important
}

.fb-comments span {
  width: 100% !important
}

.fb-comments iframe span[style] {
  width: 100% !important
}

.fb-like-box span {
  width: 100% !important
}

.fb-like-box iframe span[style] {
  width: 100% !important
}

.headtitle {
  display: none
}

.header {
  float: none;
  margin: 0 auto
}

.top-menu {
  position: relative;
  top: 60px
}

#intro,
#intro .bg1 {
  height: 200px
}

@media only screen and (max-width:985px) and (min-width:768px) {
  nav {
    top: 0
  }

  #post-wrapper {
    margin-top: 10px
  }

  h1 {
    margin-bottom: 0
  }

  .post-body {
    padding: 5px
  }
}

@media only screen and (max-width:479px) {
  .main-content-wrapper {
    margin-top: 0
  }

  nav {
    top: 1px
  }

  h1.post-title,
  h1.post-title a,
  h2.post-title,
  h2.post-title a {
    padding-left: 0
  }

  .post-info {
    padding-left: 0
  }
}

@media only screen and (max-width:767px) and (min-width:480px) {
  #mywrapper {
    margin-top: 0
  }

  nav {
    top: 1px
  }
}