.headtitle {
  display: none;
}

.header {
  float: none;
  margin: 0 auto;
}

.top-menu {
  position: relative;
  top: 60px;
}

#intro .bg1,
#intro {
  height: 200px;
}

@media only screen and (max-width: 985px) and (min-width: 768px) {
  nav {
    top: 0px;
  }

  #post-wrapper {
    margin-top: 10px;
  }

  h1 {
    margin-bottom: 0px;
  }

  .post-body {
    padding: 5px;
  }
}

@media only screen and (max-width: 479px) {
  .main-content-wrapper {
    margin-top: 0px;
  }

  nav {
    top: 1px;
  }

  h2.post-title a,
  h1.post-title a,
  h2.post-title,
  h1.post-title {
    padding-left: 0px;
  }

  .post-info {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #mywrapper {
    margin-top: 0px;
  }

  nav {
    top: 1px;
  }
}